body {
    margin: 0;
    background-color: #89B6D7;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    position: relative;
    margin: 0px;
}

.container img {
    max-width: 100%;
}

.first-image {
    position: absolute;
    top: 60%;
    left: 33vw;
}

.second-image {
    position: absolute;
    top: 80%;
    left: 35vw;
    
}

.third-image {
    position: absolute;
    top: 80%;
    left: 45vw;
}

.fourth-image {
    position: absolute;
    top: 200px; 
    left: 0;
    width: 100%; 
    height: 100vh; 
    object-fit: contain; 
}
.vitryak{
    position: absolute;
    top: 54%;
    left: 70vw;
}
.blade{
    position: absolute;
    top: 50%;
    left: 67.2vw; 
}
.moon{
    position: absolute;
    top: 0%;
    left: 23vw;
}
.union :nth-child(1){
    position: absolute;
    top: 20%;
    left: 23vw;
}

